{
  "openapi": "3.1.0",
  "info": {
    "title": "Stable Sea Terminal API",
    "description": "A comprehensive API for managing terminal operations, organizations, quotes, and orders in the Stable Sea shipping platform",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox.stablesea.com/terminal/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/hours-of-operation": {
      "get": {
        "summary": "List Hours of Operation",
        "description": "Returns hours of operation for liquidity providers",
        "responses": {
          "200": {
            "description": "Hours of operation response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HoursOfOperation"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers": {
      "post": {
        "summary": "Create Customer",
        "description": "Creates a new customer",
        "requestBody": {
          "description": "Customer to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCustomer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Customers",
        "description": "Returns all customers",
        "responses": {
          "200": {
            "description": "Customers response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Customer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}": {
      "get": {
        "summary": "Get Customer",
        "description": "Retrieve details for a specific customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "ID of customer to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/external_payment_instruments": {
      "post": {
        "summary": "Create External Payment Instrument",
        "description": "Creates an external account for a customer to receive payouts",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "ID of customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "External payment instrument to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewExternalPaymentInstrument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "External payment instrument created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ExternalPaymentInstrument"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List External Payment Instruments",
        "description": "Fetch all external payment instruments for a customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "ID of customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "External payment instruments response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExternalPaymentInstrument"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/external_payment_instruments/{external_payment_instrument_id}": {
      "get": {
        "summary": "Get External Payment Instrument",
        "description": "Fetch a specific external payment instrument for a customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "ID of customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_payment_instrument_id",
            "in": "path",
            "description": "ID of external payment instrument",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "External payment instrument details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ExternalPaymentInstrument"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Archive External Payment Instrument",
        "description": "Archive an external account for a customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "ID of customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_payment_instrument_id",
            "in": "path",
            "description": "ID of external payment instrument",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "External payment instrument archived successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "External payment instrument archived successfully"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/offerings": {
      "post": {
        "summary": "Create Offerings",
        "description": "Creates offerings for a customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "ID of customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Offerings created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Offering"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/offerings/{offering_id}": {
      "get": {
        "summary": "Get Offering",
        "description": "Retrieve details for a specific offering",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "ID of customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offering_id",
            "in": "path",
            "description": "ID of offering",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Offering details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Offering"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/quotes": {
      "post": {
        "summary": "Create Quote",
        "description": "Creates a quote for a customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "ID of customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Quote request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewQuote"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Quote created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Quote"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/quotes/{quote_id}": {
      "get": {
        "summary": "Get Quote",
        "description": "Retrieve details for a specific quote",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "ID of customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quote_id",
            "in": "path",
            "description": "ID of quote",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quote details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Quote"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/orders": {
      "post": {
        "summary": "Create Order",
        "description": "Creates an order for a customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "ID of customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Order request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Orders",
        "description": "Returns all orders for a customer",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "ID of customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/orders/{order_id}": {
      "get": {
        "summary": "Get Order",
        "description": "Retrieve details for a specific order",
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "description": "ID of customer",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "path",
            "description": "ID of order",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DateTime": {
        "type": "string",
        "format": "date-time",
        "description": "ISO 8601 UTC timestamp (RFC3339)"
      },
      "PayinCurrency": {
        "type": "string",
        "enum": ["USDC", "...more to come..."]
      },
      "PayoutCurrency": {
        "type": "string",
        "enum": ["COP", "...more to come..."]
      },
      "Currency": {
        "type": "string",
        "enum": ["USDC", "COP", "...more to come..."]
      },
      "PaymentMethod": {
        "type": "string",
        "enum": ["SOLANA_ADDRESS", "COP_BANK_ACCOUNT", "...more to come..."]
      },
      "LiquidityProvider": {
        "type": "string",
        "enum": ["ALPHA"]
      },
      "HoursOfOperation": {
        "type": "object",
        "required": [
          "liquidity_provider",
          "payin_currency",
          "payout_currency",
          "hours_of_operation"
        ],
        "properties": {
          "liquidity_provider": {
            "$ref": "#/components/schemas/LiquidityProvider"
          },
          "payin_currency": {
            "$ref": "#/components/schemas/PayinCurrency"
          },
          "payout_currency": {
            "$ref": "#/components/schemas/PayoutCurrency"
          },
          "hours_of_operation": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "open_time_utc",
                "close_time_utc"
              ],
              "properties": {
                "open_time_utc": {
                  "$ref": "#/components/schemas/DateTime"
                },
                "close_time_utc": {
                  "$ref": "#/components/schemas/DateTime"
                }
              }
            }
          }
        }
      },
      "CustomerStatus": {
        "type": "string",
        "enum": ["ACTIVE", "COMPLIANCE_HOLD"]
      },
      "Customer": {
        "type": "object",
        "required": [
          "id",
          "name",
          "contact",
          "status",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "status": {
            "type": "object",
            "required": [
              "current_status",
              "status_history"
            ],
            "properties": {
              "current_status": {
                "$ref": "#/components/schemas/CustomerStatus"
              },
              "status_history": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "status",
                    "created_at"
                  ],
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/CustomerStatus"
                    },
                    "created_at": {
                      "$ref": "#/components/schemas/DateTime"
                    }
                  }
                }
              }
            }
          },
          "created_at": {
            "$ref": "#/components/schemas/DateTime"
          },
          "updated_at": {
            "$ref": "#/components/schemas/DateTime"
          }
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "email",
          "first_name",
          "last_name"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          }
        }
      },
      "NewCustomer": {
        "type": "object",
        "required": [
          "name",
          "contact"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
           "contact": {
             "$ref": "#/components/schemas/Contact"
           }
        }
      },
      "ExternalPaymentInstrumentStatus": {
        "type": "string",
        "enum": ["ACTIVE", "COMPLIANCE_HOLD", "ARCHIVED"]
      },
      "PaymentMethodSolanaAddress": {
        "type": "object",
        "title": "SOLANA_ADDRESS",
        "required": [
          "address"
        ],
        "properties": {
          "address": {
            "type": "string"
          }
        }
      },
      "PaymentMethodCopBankAccount": {
        "type": "object",
        "title": "COP_BANK_ACCOUNT",
        "required": [
          "bank_account_number",
          "bank_code",
          "account_holder_first_name",
          "account_holder_last_name",
          "legal_entity_name",
          "doc_type",
          "doc_id",
          "physical_address",
          "account_type"
        ],
        "properties": {
          "bank_account_number": {
            "type": "string"
          },
          "bank_code": {
            "type": "string"
          },
          "account_holder_first_name": {
            "type": "string"
          },
          "account_holder_last_name": {
            "type": "string"
          },
          "legal_entity_name": {
            "type": "string"
          },
          "doc_type": {
            "type": "string"
          },
          "doc_id": {
            "type": "string"
          },
          "physical_address": {
            "type": "string"
          },
          "account_type": {
            "type": "string"
          }
        }
      },
      "ExternalPaymentInstrument": {
        "type": "object",
        "required": [
          "id",
          "alias",
          "currency",
          "method",
          "status",
          "details",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "alias": {
            "type": "string"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "method": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "status": {
            "type": "object",
            "properties": {
              "current_status": {
                "$ref": "#/components/schemas/ExternalPaymentInstrumentStatus"
              },
              "status_history": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/ExternalPaymentInstrumentStatus"
                    },
                    "created_at": {
                      "$ref": "#/components/schemas/DateTime"
                    }
                  }
                }
              }
            }
          },
          "details": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PaymentMethodSolanaAddress"
              },
              {
                "$ref": "#/components/schemas/PaymentMethodCopBankAccount"
              }
            ]
          },
          "created_at": {
            "$ref": "#/components/schemas/DateTime"
          },
          "updated_at": {
            "$ref": "#/components/schemas/DateTime"
          }
        }
      },
      "NewExternalPaymentInstrument": {
        "type": "object",
        "required": [
          "currency",
          "method",
          "details"
        ],
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "method": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "details": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PaymentMethodSolanaAddress"
              },
              {
                "$ref": "#/components/schemas/PaymentMethodCopBankAccount"
              }
            ]
          }
        }
      },
      "Offering": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "payin": {
            "type": "object",
            "properties": {
              "external_payment_instrument_id": {
                "type": "string"
              },
              "limits": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "string"
                  },
                  "max": {
                    "type": "string"
                  }
                }
              },
              "indicative_cost_tiers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "min": {
                      "type": "string"
                    },
                    "max": {
                      "type": "string"
                    },
                    "bps": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "payout": {
            "type": "object",
            "properties": {
              "external_payment_instrument_id": {
                "type": "string"
              }
            }
          },
          "indicative_exchange_rate": {
            "type": "string"
          },
          "current_day_hours_of_operation": {
            "type": "object",
            "properties": {
              "open": {
                "type": "string"
              },
              "close": {
                "type": "string"
              }
            }
          },
          "liquidity_provider": {
            "type": "string"
          },
          "estimated_settlement_time": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "Quote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "offering_id": {
            "type": "string"
          },
          "exchange_rate": {
            "type": "string"
          },
          "payin": {
            "type": "object",
            "properties": {
              "total": {
                "type": "string"
              },
              "fee": {
                "type": "string"
              },
              "tax": {
                "type": "string"
              }
            }
          },
          "payout": {
            "type": "object",
            "properties": {
              "total": {
                "type": "string"
              }
            }
          },
          "submission_expires_at": {
            "type": "string"
          },
          "funding_expires_at": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "NewQuote": {
        "type": "object",
        "required": [
          "offering_id"
        ],
        "properties": {
          "offering_id": {
            "type": "string"
          },
          "payin_amount": {
            "type": "string"
          },
          "payout_amount": {
            "type": "string"
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "quote_id": {
            "type": "string"
          },
          "offering_id": {
            "type": "string"
          },
          "reference_number": {
            "type": "string"
          },
          "external_reference_id": {
            "type": "string"
          },
          "exchange_rate": {
            "type": "string"
          },
          "effective_exchange_rate": {
            "type": "string"
          },
          "payin": {
            "type": "object",
            "properties": {
              "external_payment_instrument_id": {
                "type": "string"
              },
              "currency": {
                "type": "string"
              },
              "method": {
                "type": "string"
              },
              "total": {
                "type": "string"
              },
              "fee": {
                "type": "string"
              },
              "tax": {
                "type": "string"
              }
            }
          },
          "payout": {
            "type": "object",
            "properties": {
              "external_payment_instrument_id": {
                "type": "string"
              },
              "currency": {
                "type": "string"
              },
              "method": {
                "type": "string"
              }
            }
          },
          "status": {
            "type": "object",
            "properties": {
              "current_status": {
                "type": "string"
              },
              "status_history": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "retry_order_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        }
      },
      "NewOrder": {
        "type": "object",
        "required": [
          "quote_id"
        ],
        "properties": {
          "quote_id": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "Error code",
            "example": 400
          },
          "message": {
            "type": "string",
            "description": "Error description",
            "example": "Invalid organization data provided"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Use your API key as the bearer token",
        "x-default": "DEFAULT-TOKEN-HERE"
      }
    }
  }
}