{
  "openapi": "3.1.0",
  "info": {
    "title": "Stable Sea Terminal API",
    "description": "A comprehensive API for managing terminal operations, organizations, quotes, and orders in the Stable Sea shipping platform",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.stablesea.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/liquidity-providers": {
      "get": {
        "summary": "List Liquidity Providers",
        "description": "Returns all available liquidity providers with their trading pairs and hours of operation",
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript SDK",
            "source": "import { createClient } from '@stablesea/sdk';\n\nconst client = createClient({ apiKey: process.env.STABLESEA_API_KEY! });\nconst providers = await client.liquidityProviders.list();"
          },
          {
            "lang": "Go",
            "label": "Go SDK",
            "source": "import \"github.com/stablesea/sdk-go\"\n\nclient := sdk.NewClient(os.Getenv(\"STABLESEA_API_KEY\"), \"\")\nproviders, err := client.ListLiquidityProviders(ctx)"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\nproviders = client.liquidity_providers.list()"
          }
        ],
        "responses": {
          "200": {
            "description": "Liquidity providers response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LiquidityProvider"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/liquidity-providers/{provider_name}/exchange-rate": {
      "get": {
        "summary": "Get Exchange Rate",
        "description": "Get current exchange rate for a specific liquidity provider",
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript SDK",
            "source": "import { createClient } from '@stablesea/sdk';\n\nconst client = createClient({ apiKey: process.env.STABLESEA_API_KEY! });\nconst rate = await client.liquidityProviders.getExchangeRate('ALPHA');"
          },
          {
            "lang": "Go",
            "label": "Go SDK",
            "source": "import \"github.com/stablesea/sdk-go\"\n\nclient := sdk.NewClient(os.Getenv(\"STABLESEA_API_KEY\"), \"\")\nrate, err := client.GetExchangeRate(ctx, \"ALPHA\")"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\nrate = client.liquidity_providers.get_exchange_rate(\"ALPHA\")"
          }
        ],
        "parameters": [
          {
            "name": "provider_name",
            "in": "path",
            "description": "Name of the liquidity provider",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ALPHA"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange rate response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ExchangeRate"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api-keys": {
      "post": {
        "summary": "Create API Key",
        "description": "Create a new API key. The raw key is returned once and must be stored securely.",
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript SDK",
            "source": "import { createClient } from '@stablesea/sdk';\n\nconst client = createClient({ apiKey: process.env.STABLESEA_API_KEY! });\nconst key = await client.apiKeys.create({ name: 'My Key', permission_level: 'STANDARD', environment: 'SANDBOX' });"
          },
          {
            "lang": "Go",
            "label": "Go SDK",
            "source": "import (\n  \"github.com/stablesea/sdk-go\"\n  \"github.com/stablesea/sdk-go/api\"\n)\n\nclient := sdk.NewClient(os.Getenv(\"STABLESEA_API_KEY\"), \"\")\nkey, err := client.CreateApiKey(ctx, api.CreateApiKeyRequest{Name: \"My Key\", PermissionLevel: \"STANDARD\", Environment: \"SANDBOX\"})"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\nkey = client.api_keys.create(name=\"My Key\", environment=\"SANDBOX\", permission_level=\"STANDARD\")"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApiKeyWithSecret"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List API Keys",
        "description": "List all API keys for the authenticated enterprise (masked)",
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript SDK",
            "source": "import { createClient } from '@stablesea/sdk';\n\nconst client = createClient({ apiKey: process.env.STABLESEA_API_KEY! });\nconst keys = await client.apiKeys.list();"
          },
          {
            "lang": "Go",
            "label": "Go SDK",
            "source": "import \"github.com/stablesea/sdk-go\"\n\nclient := sdk.NewClient(os.Getenv(\"STABLESEA_API_KEY\"), \"\")\nkeys, err := client.ListApiKeys(ctx)"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\nkeys = client.api_keys.list()"
          }
        ],
        "responses": {
          "200": {
            "description": "API keys response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKey"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api-keys/{api_key_id}/rotate": {
      "post": {
        "summary": "Rotate API Key",
        "description": "Rotate an API key. The current key is revoked and a new key is returned once.",
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript SDK",
            "source": "import { createClient } from '@stablesea/sdk';\n\nconst client = createClient({ apiKey: process.env.STABLESEA_API_KEY! });\nconst key = await client.apiKeys.rotate('apkey_01k4r01nm4f41tcsws4sr9k8nn');"
          },
          {
            "lang": "Go",
            "label": "Go SDK",
            "source": "import \"github.com/stablesea/sdk-go\"\n\nclient := sdk.NewClient(os.Getenv(\"STABLESEA_API_KEY\"), \"\")\nkey, err := client.RotateApiKey(ctx, \"apkey_01k4r01nm4f41tcsws4sr9k8nn\")"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\nkey = client.api_keys.rotate(\"apkey_01k4r01nm4f41tcsws4sr9k8nn\")"
          }
        ],
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "apkey_01k4r01nm4f41tcsws4sr9k8nn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key rotated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApiKeyWithSecret"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api-keys/{api_key_id}": {
      "delete": {
        "summary": "Revoke API Key",
        "description": "Permanently revoke an API key",
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript SDK",
            "source": "import { createClient } from '@stablesea/sdk';\n\nconst client = createClient({ apiKey: process.env.STABLESEA_API_KEY! });\nawait client.apiKeys.revoke('apkey_01k4r01nm4f41tcsws4sr9k8nn');"
          },
          {
            "lang": "Go",
            "label": "Go SDK",
            "source": "import \"github.com/stablesea/sdk-go\"\n\nclient := sdk.NewClient(os.Getenv(\"STABLESEA_API_KEY\"), \"\")\nerr := client.RevokeApiKey(ctx, \"apkey_01k4r01nm4f41tcsws4sr9k8nn\")"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\nclient.api_keys.revoke(\"apkey_01k4r01nm4f41tcsws4sr9k8nn\")"
          }
        ],
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "apkey_01k4r01nm4f41tcsws4sr9k8nn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked successfully"
          }
        }
      }
    },
    "/organizations": {
      "post": {
        "summary": "Create Organization",
        "description": "Creates a new organization",
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript SDK",
            "source": "import { createClient } from '@stablesea/sdk';\n\nconst client = createClient({ apiKey: process.env.STABLESEA_API_KEY! });\nconst org = await client.organizations.create(\n  { name: 'Acme Inc', contact: { email: 'admin@acme.com', first_name: 'Jane', last_name: 'Doe' } },\n  'unique-idempotency-key'\n);"
          },
          {
            "lang": "Go",
            "label": "Go SDK",
            "source": "import (\n  \"github.com/stablesea/sdk-go\"\n  \"github.com/stablesea/sdk-go/api\"\n)\n\nclient := sdk.NewClient(os.Getenv(\"STABLESEA_API_KEY\"), \"\")\norg, err := client.CreateOrganization(ctx, \"unique-idempotency-key\", api.NewOrganization{\n  Name: \"Acme Inc\",\n  Contact: api.Contact{Email: \"admin@acme.com\", FirstName: \"Jane\", LastName: \"Doe\"},\n})"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\norg = client.organizations.create(\n  name=\"Acme Inc\",\n  contact={\"email\": \"admin@acme.com\", \"first_name\": \"Jane\", \"last_name\": \"Doe\"},\n  idempotency_key=\"unique-idempotency-key\"\n)"
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate operations",
            "required": true,
            "schema": {
              "type": "string",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "requestBody": {
          "description": "Organization to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewOrganization"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Organization created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Organizations",
        "description": "Returns all organizations",
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript SDK",
            "source": "import { createClient } from '@stablesea/sdk';\n\nconst client = createClient({ apiKey: process.env.STABLESEA_API_KEY! });\nconst orgs = await client.organizations.list();"
          },
          {
            "lang": "Go",
            "label": "Go SDK",
            "source": "import \"github.com/stablesea/sdk-go\"\n\nclient := sdk.NewClient(os.Getenv(\"STABLESEA_API_KEY\"), \"\")\norgs, err := client.ListOrganizations(ctx)"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\norgs = client.organizations.list()"
          }
        ],
        "responses": {
          "200": {
            "description": "Organizations response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organization"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}": {
      "get": {
        "summary": "Get Organization",
        "description": "Retrieve details for a specific organization",
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript SDK",
            "source": "import { createClient } from '@stablesea/sdk';\n\nconst client = createClient({ apiKey: process.env.STABLESEA_API_KEY! });\nconst org = await client.organizations.get('org_01k2cm4r59e5z8k5ggrbbxjcwy');"
          },
          {
            "lang": "Go",
            "label": "Go SDK",
            "source": "import \"github.com/stablesea/sdk-go\"\n\nclient := sdk.NewClient(os.Getenv(\"STABLESEA_API_KEY\"), \"\")\norg, err := client.GetOrganization(ctx, \"org_01k2cm4r59e5z8k5ggrbbxjcwy\")"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\norg = client.organizations.get(\"org_01k2cm4r59e5z8k5ggrbbxjcwy\")"
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "ID of organization to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "example": "org_01k2cm4r59e5z8k5ggrbbxjcwy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/external_payment_instruments": {
      "post": {
        "summary": "Create External Payment Instrument",
        "description": "Creates an external account for an organization to receive payouts",
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\nepi = client.external_payment_instruments.create(\n  organization_id=\"org_01k2cm4r59e5z8k5ggrbbxjcwy\",\n  alias=\"My Bank\",\n  currency=\"COP\",\n  method=\"COP_BANK_ACCOUNT\",\n  details={\"account_number\": \"123\", \"account_type\": \"CHECKING\"},\n  idempotency_key=\"unique-key\"\n)"
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "ID of organization",
            "required": true,
            "schema": {
              "type": "string",
              "example": "org_01k2cm4r59e5z8k5ggrbbxjcwy"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate operations",
            "required": true,
            "schema": {
              "type": "string",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "requestBody": {
          "description": "External payment instrument to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewExternalPaymentInstrument"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "External payment instrument created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ExternalPaymentInstrument"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List External Payment Instruments",
        "description": "Fetch all external payment instruments for a customer",
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\nepis = client.external_payment_instruments.list(\"org_01k2cm4r59e5z8k5ggrbbxjcwy\")"
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "ID of organization",
            "required": true,
            "schema": {
              "type": "string",
              "example": "org_01k2cm4r59e5z8k5ggrbbxjcwy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "External payment instruments response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExternalPaymentInstrument"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/external_payment_instruments/{external_payment_instrument_id}": {
      "get": {
        "summary": "Get External Payment Instrument",
        "description": "Fetch a specific external payment instrument for an organization",
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\nepi = client.external_payment_instruments.get(\n  \"org_01k2cm4r59e5z8k5ggrbbxjcwy\",\n  \"mnyacctcm_01k4r01nm4f41tcsws4sr9k8nn\"\n)"
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "ID of organization",
            "required": true,
            "schema": {
              "type": "string",
              "example": "org_01k2cm4r59e5z8k5ggrbbxjcwy"
            }
          },
          {
            "name": "external_payment_instrument_id",
            "in": "path",
            "description": "ID of external payment instrument",
            "required": true,
            "schema": {
              "type": "string",
              "example": "mnyacctcm_01k4r01nm4f41tcsws4sr9k8nn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "External payment instrument details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ExternalPaymentInstrument"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Archive External Payment Instrument",
        "description": "Archive an external account for a customer",
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\nclient.external_payment_instruments.archive(\n  \"org_01k2cm4r59e5z8k5ggrbbxjcwy\",\n  \"mnyacctcm_01k4r01nm4f41tcsws4sr9k8nn\"\n)"
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "ID of organization",
            "required": true,
            "schema": {
              "type": "string",
              "example": "org_01k2cm4r59e5z8k5ggrbbxjcwy"
            }
          },
          {
            "name": "external_payment_instrument_id",
            "in": "path",
            "description": "ID of external payment instrument",
            "required": true,
            "schema": {
              "type": "string",
              "example": "mnyacctcm_01k4r01nm4f41tcsws4sr9k8nn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "External payment instrument archived successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "External payment instrument archived successfully"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/offerings": {
      "post": {
        "summary": "Create Offerings",
        "description": "Creates offerings for an organization",
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\nofferings = client.offerings.create(\n  organization_id=\"org_01k2cm4r59e5z8k5ggrbbxjcwy\",\n  idempotency_key=\"unique-key\"\n)"
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "ID of organization",
            "required": true,
            "schema": {
              "type": "string",
              "example": "org_01k2cm4r59e5z8k5ggrbbxjcwy"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate operations",
            "required": true,
            "schema": {
              "type": "string",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Offerings created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Offering"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/offerings/{offering_id}": {
      "get": {
        "summary": "Get Offering",
        "description": "Retrieve details for a specific offering",
        "x-codeSamples": [
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\noffering = client.offerings.get(\n  \"org_01k2cm4r59e5z8k5ggrbbxjcwy\",\n  \"off_01k4qph5ezfsga7fkvbygsqq93\"\n)"
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "ID of organization",
            "required": true,
            "schema": {
              "type": "string",
              "example": "org_01k2cm4r59e5z8k5ggrbbxjcwy"
            }
          },
          {
            "name": "offering_id",
            "in": "path",
            "description": "ID of offering",
            "required": true,
            "schema": {
              "type": "string",
              "example": "off_01k4qph5ezfsga7fkvbygsqq93"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Offering details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Offering"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/quotes": {
      "post": {
        "summary": "Create Quote",
        "description": "Creates a quote for an organization",
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript SDK",
            "source": "import { createClient } from '@stablesea/sdk';\n\nconst client = createClient({ apiKey: process.env.STABLESEA_API_KEY! });\nconst quote = await client.quotes.create(\n  'org_01k2cm4r59e5z8k5ggrbbxjcwy',\n  { offering_id: 'off_01k4qph5ezfsga7fkvbygsqq93', payin_amount: '100' },\n  'unique-idempotency-key'\n);"
          },
          {
            "lang": "Go",
            "label": "Go SDK",
            "source": "import (\n  \"github.com/stablesea/sdk-go\"\n  \"github.com/stablesea/sdk-go/api\"\n)\n\nclient := sdk.NewClient(os.Getenv(\"STABLESEA_API_KEY\"), \"\")\npayinAmount := \"100\"\nquote, err := client.CreateQuote(ctx, \"org_01k2cm4r59e5z8k5ggrbbxjcwy\", \"unique-idempotency-key\", api.NewQuote{\n  OfferingID: \"off_01k4qph5ezfsga7fkvbygsqq93\",\n  PayinAmount: &payinAmount,\n})"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\nquote = client.quotes.create(\n  organization_id=\"org_01k2cm4r59e5z8k5ggrbbxjcwy\",\n  offering_id=\"off_01k4qph5ezfsga7fkvbygsqq93\",\n  payin_amount=\"100\",\n  idempotency_key=\"unique-idempotency-key\"\n)"
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "ID of organization",
            "required": true,
            "schema": {
              "type": "string",
              "example": "org_01k2cm4r59e5z8k5ggrbbxjcwy"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate operations",
            "required": true,
            "schema": {
              "type": "string",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "requestBody": {
          "description": "Quote request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewQuote"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Quote created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Quote"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/quotes/{quote_id}": {
      "get": {
        "summary": "Get Quote",
        "description": "Retrieve details for a specific quote",
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript SDK",
            "source": "import { createClient } from '@stablesea/sdk';\n\nconst client = createClient({ apiKey: process.env.STABLESEA_API_KEY! });\nconst quote = await client.quotes.get('org_01k2cm4r59e5z8k5ggrbbxjcwy', 'qt_01k4qpmvgxfsg9db9mjrtq9tk2');"
          },
          {
            "lang": "Go",
            "label": "Go SDK",
            "source": "import \"github.com/stablesea/sdk-go\"\n\nclient := sdk.NewClient(os.Getenv(\"STABLESEA_API_KEY\"), \"\")\nquote, err := client.GetQuote(ctx, \"org_01k2cm4r59e5z8k5ggrbbxjcwy\", \"qt_01k4qpmvgxfsg9db9mjrtq9tk2\")"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\nquote = client.quotes.get(\n  \"org_01k2cm4r59e5z8k5ggrbbxjcwy\",\n  \"qt_01k4qpmvgxfsg9db9mjrtq9tk2\"\n)"
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "ID of organization",
            "required": true,
            "schema": {
              "type": "string",
              "example": "org_01k2cm4r59e5z8k5ggrbbxjcwy"
            }
          },
          {
            "name": "quote_id",
            "in": "path",
            "description": "ID of quote",
            "required": true,
            "schema": {
              "type": "string",
              "example": "qt_01k4qpmvgxfsg9db9mjrtq9tk2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quote details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Quote"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/orders": {
      "post": {
        "summary": "Create Order",
        "description": "Creates an order for an organization",
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript SDK",
            "source": "import { createClient } from '@stablesea/sdk';\n\nconst client = createClient({ apiKey: process.env.STABLESEA_API_KEY! });\nconst order = await client.orders.create(\n  'org_01k2cm4r59e5z8k5ggrbbxjcwy',\n  { quote_id: 'qt_01k4qpmvgxfsg9db9mjrtq9tk2' },\n  'unique-idempotency-key'\n);"
          },
          {
            "lang": "Go",
            "label": "Go SDK",
            "source": "import (\n  \"github.com/stablesea/sdk-go\"\n  \"github.com/stablesea/sdk-go/api\"\n)\n\nclient := sdk.NewClient(os.Getenv(\"STABLESEA_API_KEY\"), \"\")\norder, err := client.CreateOrder(ctx, \"org_01k2cm4r59e5z8k5ggrbbxjcwy\", \"unique-idempotency-key\", api.NewOrder{QuoteID: \"qt_01k4qpmvgxfsg9db9mjrtq9tk2\"})"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\norder = client.orders.create(\n  organization_id=\"org_01k2cm4r59e5z8k5ggrbbxjcwy\",\n  quote_id=\"qt_01k4qpmvgxfsg9db9mjrtq9tk2\",\n  idempotency_key=\"unique-idempotency-key\"\n)"
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "ID of organization",
            "required": true,
            "schema": {
              "type": "string",
              "example": "org_01k2cm4r59e5z8k5ggrbbxjcwy"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Unique key to prevent duplicate operations",
            "required": true,
            "schema": {
              "type": "string",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "requestBody": {
          "description": "Order request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Order created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List Orders",
        "description": "Returns all orders for a customer",
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript SDK",
            "source": "import { createClient } from '@stablesea/sdk';\n\nconst client = createClient({ apiKey: process.env.STABLESEA_API_KEY! });\nconst orders = await client.orders.list('org_01k2cm4r59e5z8k5ggrbbxjcwy');"
          },
          {
            "lang": "Go",
            "label": "Go SDK",
            "source": "import \"github.com/stablesea/sdk-go\"\n\nclient := sdk.NewClient(os.Getenv(\"STABLESEA_API_KEY\"), \"\")\norders, err := client.ListOrders(ctx, \"org_01k2cm4r59e5z8k5ggrbbxjcwy\")"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\norders = client.orders.list(\"org_01k2cm4r59e5z8k5ggrbbxjcwy\")"
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "ID of organization",
            "required": true,
            "schema": {
              "type": "string",
              "example": "org_01k2cm4r59e5z8k5ggrbbxjcwy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Order"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/organizations/{organization_id}/orders/{order_id}": {
      "get": {
        "summary": "Get Order",
        "description": "Retrieve details for a specific order",
        "x-codeSamples": [
          {
            "lang": "TypeScript",
            "label": "TypeScript SDK",
            "source": "import { createClient } from '@stablesea/sdk';\n\nconst client = createClient({ apiKey: process.env.STABLESEA_API_KEY! });\nconst order = await client.orders.get('org_01k2cm4r59e5z8k5ggrbbxjcwy', 'ord_01k4qn3cxdefkargtccm4ycxsf');"
          },
          {
            "lang": "Go",
            "label": "Go SDK",
            "source": "import \"github.com/stablesea/sdk-go\"\n\nclient := sdk.NewClient(os.Getenv(\"STABLESEA_API_KEY\"), \"\")\norder, err := client.GetOrder(ctx, \"org_01k2cm4r59e5z8k5ggrbbxjcwy\", \"ord_01k4qn3cxdefkargtccm4ycxsf\")"
          },
          {
            "lang": "Python",
            "label": "Python SDK",
            "source": "from stablesea import StableseaClient\n\nclient = StableseaClient(api_key=os.environ[\"STABLESEA_API_KEY\"])\norder = client.orders.get(\n  \"org_01k2cm4r59e5z8k5ggrbbxjcwy\",\n  \"ord_01k4qn3cxdefkargtccm4ycxsf\"\n)"
          }
        ],
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "description": "ID of organization",
            "required": true,
            "schema": {
              "type": "string",
              "example": "org_01k2cm4r59e5z8k5ggrbbxjcwy"
            }
          },
          {
            "name": "order_id",
            "in": "path",
            "description": "ID of order",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ord_01k4qn3cxdefkargtccm4ycxsf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DateTime": {
        "type": "string",
        "format": "date-time",
        "description": "ISO 8601 UTC timestamp (RFC3339)",
        "example": "2024-01-15T10:00:00Z"
      },
      "PayinCurrency": {
        "type": "string",
        "enum": [
          "USDC",
          "...more to come..."
        ],
        "example": "USDC"
      },
      "PayoutCurrency": {
        "type": "string",
        "enum": [
          "COP",
          "...more to come..."
        ],
        "example": "COP"
      },
      "Currency": {
        "type": "string",
        "enum": [
          "USDC",
          "COP",
          "...more to come..."
        ]
      },
      "PaymentMethod": {
        "type": "string",
        "enum": [
          "SOLANA_ADDRESS",
          "COP_BANK_ACCOUNT",
          "...more to come..."
        ]
      },
      "LiquidityProvider": {
        "type": "object",
        "required": [
          "name",
          "trading_pairs"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "ALPHA"
          },
          "trading_pairs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TradingPair"
            }
          }
        }
      },
      "TradingPair": {
        "type": "object",
        "required": [
          "payin_currency",
          "payout_currency",
          "hours_of_operation"
        ],
        "properties": {
          "payin_currency": {
            "$ref": "#/components/schemas/PayinCurrency"
          },
          "payout_currency": {
            "$ref": "#/components/schemas/PayoutCurrency"
          },
          "hours_of_operation": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "open_time_utc",
                "close_time_utc"
              ],
              "properties": {
                "open_time_utc": {
                  "$ref": "#/components/schemas/DateTime"
                },
                "close_time_utc": {
                  "$ref": "#/components/schemas/DateTime"
                }
              }
            }
          }
        }
      },
      "ExchangeRate": {
        "type": "object",
        "required": [
          "payin_currency",
          "payout_currency",
          "exchange_rate"
        ],
        "properties": {
          "payin_currency": {
            "$ref": "#/components/schemas/PayinCurrency"
          },
          "payout_currency": {
            "$ref": "#/components/schemas/PayoutCurrency"
          },
          "exchange_rate": {
            "type": "string",
            "example": "3921.8",
            "description": "Current exchange rate as a string to preserve precision"
          }
        }
      },
      "HoursOfOperation": {
        "type": "object",
        "required": [
          "liquidity_provider",
          "payin_currency",
          "payout_currency",
          "hours_of_operation"
        ],
        "properties": {
          "liquidity_provider": {
            "$ref": "#/components/schemas/LiquidityProvider"
          },
          "payin_currency": {
            "$ref": "#/components/schemas/PayinCurrency"
          },
          "payout_currency": {
            "$ref": "#/components/schemas/PayoutCurrency"
          },
          "hours_of_operation": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "open_time_utc",
                "close_time_utc"
              ],
              "properties": {
                "open_time_utc": {
                  "$ref": "#/components/schemas/DateTime"
                },
                "close_time_utc": {
                  "$ref": "#/components/schemas/DateTime"
                }
              }
            }
          }
        }
      },
      "OrganizationStatus": {
        "type": "string",
        "enum": [
          "ACTIVE",
          "COMPLIANCE_HOLD"
        ],
        "example": "ACTIVE"
      },
      "Organization": {
        "type": "object",
        "required": [
          "id",
          "name",
          "contact",
          "status",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "org_01k2cm4r59e5z8k5ggrbbxjcwy"
          },
          "name": {
            "type": "string",
            "example": "Acme Corporation"
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "status": {
            "type": "object",
            "required": [
              "current_status",
              "status_history"
            ],
            "properties": {
              "current_status": {
                "$ref": "#/components/schemas/OrganizationStatus"
              },
              "status_history": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "status",
                    "created_at"
                  ],
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/OrganizationStatus"
                    },
                    "created_at": {
                      "$ref": "#/components/schemas/DateTime"
                    }
                  }
                }
              }
            },
            "example": {
              "current_status": "ACTIVE",
              "status_history": [
                {
                  "status": "ACTIVE",
                  "created_at": "2024-01-15T10:00:00Z"
                }
              ]
            }
          },
          "created_at": {
            "$ref": "#/components/schemas/DateTime",
            "example": "2024-01-15T10:00:00Z"
          },
          "updated_at": {
            "$ref": "#/components/schemas/DateTime",
            "example": "2024-01-15T10:00:00Z"
          }
        }
      },
      "Contact": {
        "type": "object",
        "required": [
          "email",
          "first_name",
          "last_name"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "john.doe@acme.com"
          },
          "first_name": {
            "type": "string",
            "example": "John"
          },
          "last_name": {
            "type": "string",
            "example": "Doe"
          }
        }
      },
      "NewOrganization": {
        "type": "object",
        "required": [
          "name",
          "contact"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Acme Corporation"
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          }
        }
      },
      "ExternalPaymentInstrumentStatus": {
        "type": "string",
        "enum": [
          "ACTIVE",
          "COMPLIANCE_HOLD",
          "ARCHIVED"
        ]
      },
      "PaymentMethodSolanaAddress": {
        "type": "object",
        "title": "SOLANA_ADDRESS",
        "required": [
          "address"
        ],
        "properties": {
          "address": {
            "type": "string",
            "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
          }
        }
      },
      "PaymentMethodCopBankAccount": {
        "type": "object",
        "title": "COP_BANK_ACCOUNT",
        "required": [
          "bank_account_number",
          "bank_code",
          "account_holder_first_name",
          "account_holder_last_name",
          "legal_entity_name",
          "doc_type",
          "doc_id",
          "physical_address",
          "account_type"
        ],
        "properties": {
          "bank_account_number": {
            "type": "string",
            "example": "1234567890"
          },
          "bank_code": {
            "type": "string",
            "example": "001"
          },
          "account_holder_first_name": {
            "type": "string",
            "example": "Juan"
          },
          "account_holder_last_name": {
            "type": "string",
            "example": "Perez"
          },
          "legal_entity_name": {
            "type": "string",
            "example": "Juan Perez Empresa"
          },
          "doc_type": {
            "type": "string",
            "example": "CC"
          },
          "doc_id": {
            "type": "string",
            "example": "901458.6527"
          },
          "physical_address": {
            "type": "string",
            "example": "Calle 123 #45-67, Bogotá, Colombia"
          },
          "account_type": {
            "type": "string",
            "example": "CHECKING"
          }
        }
      },
      "ExternalPaymentInstrument": {
        "type": "object",
        "required": [
          "id",
          "alias",
          "currency",
          "method",
          "status",
          "details",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "mnyacct_01k4r01nm4f41tcsws4sr9k8nn"
          },
          "alias": {
            "type": "string",
            "example": "My Primary Wallet"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "method": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "status": {
            "type": "object",
            "properties": {
              "current_status": {
                "$ref": "#/components/schemas/ExternalPaymentInstrumentStatus"
              },
              "status_history": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/ExternalPaymentInstrumentStatus"
                    },
                    "created_at": {
                      "$ref": "#/components/schemas/DateTime"
                    }
                  }
                }
              }
            }
          },
          "details": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PaymentMethodSolanaAddress"
              },
              {
                "$ref": "#/components/schemas/PaymentMethodCopBankAccount"
              }
            ]
          },
          "created_at": {
            "$ref": "#/components/schemas/DateTime"
          },
          "updated_at": {
            "$ref": "#/components/schemas/DateTime"
          }
        }
      },
      "NewExternalPaymentInstrument": {
        "type": "object",
        "required": [
          "alias",
          "currency",
          "method",
          "details"
        ],
        "properties": {
          "alias": {
            "type": "string",
            "example": "My Primary Wallet"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "method": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "details": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PaymentMethodSolanaAddress"
              },
              {
                "$ref": "#/components/schemas/PaymentMethodCopBankAccount"
              }
            ]
          }
        }
      },
      "DecimalString": {
        "type": "string",
        "format": "decimal",
        "description": "A string representation of a decimal number"
      },
      "Offering": {
        "type": "object",
        "required": [
          "id",
          "order_type",
          "payin",
          "payout",
          "indicative_exchange_rate",
          "current_day_hours_of_operation",
          "liquidity_provider",
          "estimated_settlement_time",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "off_01k4qph5ezfsga7fkvbygsqq93"
          },
          "order_type": {
            "type": "string",
            "enum": [
              "QUOTED",
              "LIMIT",
              "MARKET"
            ]
          },
          "payin": {
            "type": "object",
            "required": [
              "external_payment_instrument",
              "limits",
              "indicative_cost_tiers"
            ],
            "properties": {
              "external_payment_instrument": {
                "$ref": "#/components/schemas/ExternalPaymentInstrument"
              },
              "limits": {
                "type": "object",
                "required": [
                  "min",
                  "max"
                ],
                "properties": {
                  "min": {
                    "$ref": "#/components/schemas/DecimalString"
                  },
                  "max": {
                    "$ref": "#/components/schemas/DecimalString"
                  }
                }
              },
              "indicative_cost_tiers": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "min",
                    "max",
                    "bps"
                  ],
                  "properties": {
                    "min": {
                      "$ref": "#/components/schemas/DecimalString"
                    },
                    "max": {
                      "$ref": "#/components/schemas/DecimalString"
                    },
                    "bps": {
                      "$ref": "#/components/schemas/DecimalString"
                    }
                  }
                }
              }
            }
          },
          "payout": {
            "type": "object",
            "required": [
              "external_payment_instrument"
            ],
            "properties": {
              "external_payment_instrument": {
                "$ref": "#/components/schemas/ExternalPaymentInstrument"
              }
            }
          },
          "indicative_exchange_rate": {
            "$ref": "#/components/schemas/DecimalString"
          },
          "current_day_hours_of_operation": {
            "type": "object",
            "required": [
              "open_utc",
              "close_utc"
            ],
            "properties": {
              "open_utc": {
                "$ref": "#/components/schemas/DateTime"
              },
              "close_utc": {
                "$ref": "#/components/schemas/DateTime"
              }
            }
          },
          "liquidity_provider": {
            "$ref": "#/components/schemas/LiquidityProvider"
          },
          "estimated_settlement_time": {
            "type": "string",
            "enum": [
              "T+0",
              "T+1",
              "T+2"
            ]
          },
          "created_at": {
            "$ref": "#/components/schemas/DateTime"
          }
        }
      },
      "Quote": {
        "type": "object",
        "required": [
          "id",
          "offering_id",
          "exchange_rate",
          "payin",
          "payout",
          "submission_expires_at",
          "funding_expires_at",
          "created_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "mnyacct_01k4r01nm4f41tcsws4sr9k8nn"
          },
          "offering_id": {
            "type": "string",
            "example": "off_01k4qph5ezfsga7fkvbygsqq93"
          },
          "exchange_rate": {
            "$ref": "#/components/schemas/DecimalString"
          },
          "payin": {
            "type": "object",
            "required": [
              "total",
              "fee",
              "tax"
            ],
            "properties": {
              "total": {
                "$ref": "#/components/schemas/DecimalString"
              },
              "fee": {
                "$ref": "#/components/schemas/DecimalString"
              },
              "tax": {
                "$ref": "#/components/schemas/DecimalString"
              }
            }
          },
          "payout": {
            "type": "object",
            "required": [
              "total"
            ],
            "properties": {
              "total": {
                "$ref": "#/components/schemas/DecimalString"
              }
            }
          },
          "submission_expires_at": {
            "$ref": "#/components/schemas/DateTime"
          },
          "funding_expires_at": {
            "$ref": "#/components/schemas/DateTime"
          },
          "created_at": {
            "$ref": "#/components/schemas/DateTime"
          }
        }
      },
      "NewQuote": {
        "type": "object",
        "required": [
          "offering_id"
        ],
        "properties": {
          "offering_id": {
            "type": "string"
          }
        },
        "oneOf": [
          {
            "required": [
              "payin_amount"
            ],
            "properties": {
              "payin_amount": {
                "$ref": "#/components/schemas/DecimalString"
              }
            }
          },
          {
            "required": [
              "payout_amount"
            ],
            "properties": {
              "payout_amount": {
                "$ref": "#/components/schemas/DecimalString"
              }
            }
          }
        ]
      },
      "OrderStatus": {
        "type": "string",
        "enum": [
          "STEP_1_AWAITING_FUNDING",
          "STEP_2_FILLING_FX",
          "STEP_3_SETTLING_PAYOUT",
          "STEP_4_COMPLETED",
          "FAILED_FUNDING_EXPIRED",
          "FAILED_DECLINED_BY_LIQ_PROVIDER",
          "FAILED_REFUND_REQUESTED",
          "FAILED_REFUND_PROCESSED"
        ]
      },
      "FundingInstructions": {
        "type": "object",
        "required": [
          "currency",
          "method",
          "details"
        ],
        "properties": {
          "currency": {
            "$ref": "#/components/schemas/PayinCurrency"
          },
          "method": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "details": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PaymentMethodSolanaAddress"
              },
              {
                "$ref": "#/components/schemas/PaymentMethodCopBankAccount"
              }
            ]
          }
        }
      },
      "Order": {
        "type": "object",
        "required": [
          "id",
          "quote_id",
          "offering_id",
          "reference_number",
          "exchange_rate",
          "effective_exchange_rate",
          "payin",
          "payout",
          "status",
          "funding_instructions",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "mnyacct_01k4r01nm4f41tcsws4sr9k8nn"
          },
          "quote_id": {
            "type": "string",
            "example": "qt_01k4qpmvgxfsg9db9mjrtq9tk2"
          },
          "offering_id": {
            "type": "string",
            "example": "off_01k4qph5ezfsga7fkvbygsqq93"
          },
          "reference_number": {
            "type": "string",
            "example": "SS-ORD-20240115-001"
          },
          "external_reference_id": {
            "type": "string",
            "example": "ACME-REF-001"
          },
          "exchange_rate": {
            "$ref": "#/components/schemas/DecimalString"
          },
          "effective_exchange_rate": {
            "$ref": "#/components/schemas/DecimalString"
          },
          "payin": {
            "type": "object",
            "required": [
              "external_payment_instrument",
              "total",
              "fee",
              "tax"
            ],
            "properties": {
              "external_payment_instrument": {
                "$ref": "#/components/schemas/ExternalPaymentInstrument"
              },
              "total": {
                "$ref": "#/components/schemas/DecimalString"
              },
              "fee": {
                "$ref": "#/components/schemas/DecimalString"
              },
              "tax": {
                "$ref": "#/components/schemas/DecimalString"
              }
            }
          },
          "payout": {
            "type": "object",
            "required": [
              "external_payment_instrument",
              "total"
            ],
            "properties": {
              "external_payment_instrument": {
                "$ref": "#/components/schemas/ExternalPaymentInstrument"
              },
              "total": {
                "$ref": "#/components/schemas/DecimalString"
              }
            }
          },
          "status": {
            "type": "object",
            "required": [
              "current_status",
              "status_history"
            ],
            "properties": {
              "current_status": {
                "$ref": "#/components/schemas/OrderStatus"
              },
              "status_history": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/OrderStatus"
                    },
                    "created_at": {
                      "$ref": "#/components/schemas/DateTime"
                    }
                  }
                }
              }
            }
          },
          "funding_instructions": {
            "$ref": "#/components/schemas/FundingInstructions"
          },
          "retry_order_id": {
            "type": "string",
            "example": "ord_01k4qn4cxdefkargtccm4ycxth"
          },
          "created_at": {
            "$ref": "#/components/schemas/DateTime"
          },
          "updated_at": {
            "$ref": "#/components/schemas/DateTime"
          }
        }
      },
      "NewOrder": {
        "type": "object",
        "required": [
          "quote_id"
        ],
        "properties": {
          "quote_id": {
            "type": "string"
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "required": ["id", "name", "permission_level", "environment", "created_ts", "masked_key"],
        "properties": {
          "id": {
            "type": "string",
            "example": "apkey_01k4r01nm4f41tcsws4sr9k8nn"
          },
          "name": {
            "type": "string",
            "example": "Production API"
          },
          "permission_level": {
            "type": "string",
            "enum": ["READ_ONLY", "STANDARD", "ADMIN"]
          },
          "environment": {
            "type": "string",
            "enum": ["SANDBOX", "PRODUCTION"]
          },
          "created_ts": {
            "type": "string",
            "format": "date-time"
          },
          "last_used_ts": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "revoked_ts": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "masked_key": {
            "type": "string",
            "description": "Masked key for display, e.g. sk_...xyz",
            "example": "sk_...xyz"
          }
        }
      },
      "ApiKeyWithSecret": {
        "type": "object",
        "required": ["id", "name", "permission_level", "environment", "api_key"],
        "properties": {
          "id": {
            "type": "string",
            "example": "apkey_01k4r01nm4f41tcsws4sr9k8nn"
          },
          "name": {
            "type": "string",
            "example": "Production API"
          },
          "permission_level": {
            "type": "string",
            "enum": ["READ_ONLY", "STANDARD", "ADMIN"]
          },
          "environment": {
            "type": "string",
            "enum": ["SANDBOX", "PRODUCTION"]
          },
          "api_key": {
            "type": "string",
            "description": "Raw API key - only returned once on creation or rotation"
          }
        }
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "required": ["name", "permission_level", "environment"],
        "properties": {
          "name": {
            "type": "string",
            "example": "Production API"
          },
          "permission_level": {
            "type": "string",
            "enum": ["READ_ONLY", "STANDARD", "ADMIN"],
            "default": "STANDARD"
          },
          "environment": {
            "type": "string",
            "enum": ["SANDBOX", "PRODUCTION"]
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error",
          "message"
        ],
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32",
            "description": "Error code",
            "example": 400
          },
          "message": {
            "type": "string",
            "description": "Error description",
            "example": "Invalid organization data provided"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Enter your sandbox API key to try requests. Use only sandbox keys here—never production keys.",
        "x-default": ""
      }
    }
  }
}